@font-face {
  font-family: 'GiniFont';
  src: url('../Assets/optiagency-gothic-webfont.woff2') format('woff2'),
       url('../Assets/optiagency-gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
}

html,body{
  height:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* max-width: 100%;
  overflow-x: hidden; */
}

body {
  /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(white)); */
  /* background: -webkit-linear-gradient(bottom, black 50%, #191919);
  background: -moz-linear-gradient(bottom, black 50%,#191919);
  background: -ms-linear-gradient(bottom, black 50%,#191919);
  background: -o-linear-gradient(bottom, black 50%,#191919);
  background: linear-gradient(bottom, black 50%,#191919); */
  background-color: #191919;
  background-attachment: fixed;
}

.navbar-brand img {
  width: 200px;
  height: auto;
}

.navbar {
  background-color: #1f1f1f;
  top: -80px;
  transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  -moz-transition: top 0.3s;
}

#logoCol {
  opacity: 0;
  /* animation */
  animation-name: logoAnim;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-timing-function: linear;
  /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function: linear;
  /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 2.5s;
  -moz-animation-timing-function: linear;
  /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: forwards;
  -o-animation-delay: 2.5s;
  -o-animation-timing-function: linear;
  /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-delay: 2.5s;
  -ms-animation-timing-function: linear;
}

#giniLogo {
  margin-top: auto;
  margin-bottom: auto;
}

#beeLogo {
  position: absolute;
  height: 0;
  opacity: 1;
  z-index: 2;
  margin-top: 25rem;
  transform: scale(-0.9) scaleY(-1);
  -webkit-transform: scale(-0.9) scaleY(-1);
  -ms-transform: scale(-0.9) scaleY(-1);
  -moz-transform: scale(-0.9) scaleY(-1);
  -o-transform: scale(-0.9) scaleY(-1);
}

#bzzz {
  max-width: 100%;
  z-index: 5;
  height: 200px;
}

#anim {
  position: relative;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  /* max-width: 100%;
  overflow-x: hidden; */
}

#animCol {
  margin-top: -30px;
}

#smokeCol {
  margin-top: -80px;
}

#smokeHolder {
  width: 100%;
  overflow:hidden;
  display:block;
  height: 98%;
}

#smoke{
  margin-top: -3%;
  z-index: -5;
  opacity: 0;
  /* animation */
  animation-name: startVid, endVid;
  animation-duration: 0.5s, 0.5s;
  animation-timing-function: linear, linear;
  animation-delay: 5s, 9.5s;
  animation-fill-mode: forwards, forwards;
  /* safari animation */
  -webkit-animation-name: startVid, endVid;
  -webkit-animation-duration: 0.5s, 0.5s;
  -webkit-animation-timing-function: linear, linear;
  -webkit-animation-delay: 5s, 9.5s;
  -webkit-animation-fill-mode: forwards, forwards;
  /* moz animation */
  -moz-animation-name: startVid, endVid;
  -moz-animation-duration: 0.5s, 0.5s;
  -moz-animation-timing-function: linear, linear;
  -moz-animation-delay: 5s, 9.5s;
  -moz-animation-fill-mode: forwards, forwards;
  /* ms animation */
  -ms-animation-name: startVid, endVid;
  -ms-animation-duration: 0.5s, 0.5s;
  -ms-animation-timing-function: linear, linear;
  -ms-animation-delay: 5s, 9.5s;
  -ms-animation-fill-mode: forwards, forwards;
  /* o animation */
  -o-animation-name: startVid, endVid;
  -o-animation-duration: 0.5s, 0.5s;
  -o-animation-timing-function: linear, linear;
  -o-animation-delay: 5s, 9.5s;
  -o-animation-fill-mode: forwards, forwards;
}

#animCol {
  /* margin-top: -100px; */
}

#brinBot {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  z-index: 0;
  object-fit: cover;
  max-width: 510px;
  height: auto;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  /* animation */
  /* will-change: opacity; */
  animation-name: brinBotAnim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
  /* moz animation */
  -moz-animation-name: brinBotAnim;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1.5s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-timing-function: ease-out;
  /* ms animation */
  -ms-animation-name: brinBotAnim;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1.5s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-timing-function: ease-out;
  /* o animation */
  -o-animation-name: brinBotAnim;
  -o-animation-duration: 2s;
  -o-animation-delay: 1.5s;
  -o-animation-fill-mode: backwards;
  -o-animation-timing-function: ease-out;
  /* safari animation */
  -webkit-animation-name: brinBotAnim;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
}

#brinTop {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -4;
  margin-top: 40px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 590px;
  height: auto;
  /* animation */
  /* will-change: opacity; */
  animation-name: brinTopAnim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
    /* safari animation */
  -webkit-animation-name: brinTopAnim;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
    /* safari animation */
  -ms-animation-name: brinTopAnim;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1.5s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-timing-function: ease-out;
    /* safari animation */
  -moz-animation-name: brinTopAnim;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1.5s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-timing-function: ease-out;
    /* safari animation */
  -o-animation-name: brinTopAnim;
  -o-animation-duration: 2s;
  -o-animation-delay: 1.5s;
  -o-animation-fill-mode: backwards;
  -o-animation-timing-function: ease-out;
}

#tonic {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 40px;
  z-index: -1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 400px;
  height: 590px;
  /* animation */
  /* will-change: opacity; */
  animation-name: tonicAnim;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  /* animation-delay: 1s; */
  animation-timing-function: ease-out;
    /* safari animation */
  -webkit-animation-name: tonicAnim;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: backwards;
  /* -webkit-animation-delay: 1s; */
  -webkit-animation-timing-function: ease-out;
    /* moz animation */
  -moz-animation-name: tonicAnim;
  -moz-animation-duration: 2.5s;
  -moz-animation-fill-mode: backwards;
  /* -moz-animation-delay: 1s; */
  -moz-animation-timing-function: ease-out;
    /* ms animation */
  -ms-animation-name: tonicAnim;
  -ms-animation-duration: 2.5s;
  -ms-animation-fill-mode: backwards;
  /* -ms-animation-delay: 1s; */
  -ms-animation-timing-function: ease-out;
    /* o animation */
  -o-animation-name: tonicAnim;
  -o-animation-duration: 2.5s;
  -o-animation-fill-mode: backwards;
  /* -o-animation-delay: 1s; */
  -o-animation-timing-function: ease-out;
}

#ginStd {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: 70px;
  z-index: -3;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 400px;
  height: 840px;
  /* animation */
  /* will-change: opacity; */
  animation-name: ginStdAnim;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
    /* safari animation */
  -webkit-animation-name: ginStdAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
    /* o animation */
  -o-animation-name: ginStdAnim;
  -o-animation-duration: 1.5s;
  -o-animation-delay: 0.8s;
  -o-animation-fill-mode: backwards;
  -o-animation-timing-function: ease-out;
    /* ms animation */
  -ms-animation-name: ginStdAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 0.8s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-timing-function: ease-out;
    /* moz animation */
  -moz-animation-name: ginStdAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 0.8s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-timing-function: ease-out;
}

#ginPrm {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -70px;
  z-index: -2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 400px;
  height: 840px;
  /* animation */
  /* will-change: opacity; */
  animation-name: ginPrmAnim;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    /* safari animation */
  -webkit-animation-name: ginPrmAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.8s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    /* ms animation */
  -ms-animation-name: ginPrmAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 0.8s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    /* moz animation */
  -moz-animation-name: ginPrmAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 0.8s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    /* o animation */
  -o-animation-name: ginPrmAnim;
  -o-animation-duration: 1.5s;
  -o-animation-delay: 0.8s;
  -o-animation-fill-mode: backwards;
  -o-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
}

/* #beeFly {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: 250x;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  object-fit: cover;
  max-width: 100%;
  height: 60px;
  opacity: 0;
  /* animation:  
  animation-name: beeFlyAnimX, beeFlyAnimY;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(.59,.17,.43,.91), ease-in;
  animation-iteration-count: infinite;
    /* safari animation 
  -webkit-animation-name: beeFlyAnimX, beeFlyAnimY;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: cubic-bezier(.59,.17,.43,.91), ease-in;
  animation-iteration-count: infinite;
} */

#bee1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -310px;
  margin-left: 100px;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  object-fit: cover;
  max-width: 100%;
  height: 60px;
  opacity: 0;
  /* animation 
  will-change: opacity;  */
  animation-name: logoAnim;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 2.1s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: ease-out;
  /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 2.1s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: ease-out;
  /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 1.5s;
  -o-animation-delay: 2.1s;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: ease-out;
}


#bee2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  margin-left: -280px;
  z-index: 6;
  transform: translate(-50%, -50%) rotate(25deg);
  -webkit-transform: translate(-50%, -50%) rotate(25deg);
  -moz-transform: translate(-50%, -50%) rotate(25deg);
  -ms-transform: translate(-50%, -50%) rotate(25deg);
  -o-transform: translate(-50%, -50%) rotate(25deg);
  object-fit: cover;
  max-width: 100%;
  height: 60px;
  opacity: 0;
  /* animation 
  will-change: opacity;  */
  animation-name: logoAnim;
  animation-duration: 1.5s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 2.1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-delay: 2.1s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: ease-out;
  /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-delay: 2.1s;
  -ms-animation-fill-mode: forwards;
  -ms-animation-timing-function: ease-out;
  /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 1.5s;
  -o-animation-delay: 2.1s;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: ease-out;
}

.space {
  width: 20px;
}

h1 {
  position: absolute;
  top: 45%;
  left: 0;
  -ms-transform: scale(1) translate(-50%, -50%);
  -moz-transform: scale(1) translate(-50%, -50%);
  -webkit-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  color: rgb(158, 158, 158);
  font-size: 2rem;
  font-family: GiniFont;
  font-weight: lighter;
  text-align: center;
}

h1 span {
  margin: 0 -4px;
  /* will-change: transform, opacity; */
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
  -webkit-animation: animate 1s linear forwards;
  -moz-animation: animate 1s linear forwards;
  -ms-animation: animate 1s linear forwards;
  -o-animation: animate 1s linear forwards;
}


#buttonDown {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  background-color: #191919;
  margin-top: -100px;
  border: none;
  color: white;
  animation-name: logoAnim;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 10s;
  animation-timing-function: linear;
    /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 10s;
  -webkit-animation-timing-function: linear;
    /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: backwards;
  -o-animation-delay: 10s;
  -o-animation-timing-function: linear;
    /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-delay: 10s;
  -ms-animation-timing-function: linear;
    /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-delay: 10s;
  -moz-animation-timing-function: linear;
}

#buttonDown2, #buttonDown3 {
  position: absolute;
  left: 50%;
  bottom: -5%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  background-color: #191919;
  margin-top: 0;
  border: none;
}

#buttonImage, #buttonImage2, #buttonImage3{
  height: 25px;
}


#info {
  margin-top: 300px;
}

#info1, #info2, #info3 {
  max-width: 100%;
  height: 200px;
}

#info2 {
  height: 220px;
  /* margin-top: -20px; */
}

#info3 {
  height: 180px;
  /* margin-top: 20px; */
}

.hidden {
  opacity: 0;
}

.hidden2 {
  opacity: 0;
}

.fade-in {
  animation-name: logoAnim;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
  animation-timing-function: linear;
    /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
    /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 1.5s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-delay: 0.5s;
  -moz-animation-timing-function: linear;
    /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 1.5s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-delay: 0.5s;
  -ms-animation-timing-function: linear;
    /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 1.5s;
  -o-animation-fill-mode: backwards;
  -o-animation-delay: 0.5s;
  -o-animation-timing-function: linear;
}

.fade-in2 {
  animation-name: logoAnim;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
  animation-timing-function: linear;
    /* safari animation */
  -webkit-animation-name: logoAnim;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function: linear;
    /* ms animation */
  -ms-animation-name: logoAnim;
  -ms-animation-duration: 2.5s;
  -ms-animation-fill-mode: backwards;
  -ms-animation-delay: 1.5s;
  -ms-animation-timing-function: linear;
    /* moz animation */
  -moz-animation-name: logoAnim;
  -moz-animation-duration: 2.5s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-delay: 1.5s;
  -moz-animation-timing-function: linear;
    /* o animation */
  -o-animation-name: logoAnim;
  -o-animation-duration: 2.5s;
  -o-animation-fill-mode: backwards;
  -o-animation-delay: 1.5s;
  -o-animation-timing-function: linear;
}

.infoText {
  color: white;
  /* margin-top: -5rem; */
  font-weight: lighter;
  font-size: 0.9rem;
}

#bold {
  font-weight: bold;
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: center;
  font-family: 'GiniFont';
  font-weight: lighter;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

#footerPad {
  height: 2rem;
}

#MLogo {
  max-width: 100%;
  height: 100px;
  /* -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); */
}

#GLogo {
  margin-top: 50px;
  max-width: 100%;
  height: 50px;
}

#comingSoon {
  height: 100px;
}

#csText {
  color: white;
  margin-top: 0px;
  display: inline-block;
  font-family: 'GiniFont';
  font-size: 2.5rem;
}

.extra {
  height: 100px;
}

/* ----------------------------------------------form---------------------------------------------------- */

#obrazec label {
  color: white;
}

#obrazec {
  margin-bottom: 50px;
}

#formGin{
  max-width: 100%;
  height: 300px;
  margin-top: -50px;
  margin-bottom: -40px;
}

#formLogoHolder{
  height: 130px;
}

#formLogo {
  max-width: 100%;
  height: 50px;
  margin-top: 50px;
  /* position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  max-width: 100%;
  height: 50px;
  margin-bottom: -50px;
  -webkit-mask-image: url("Assets/gradientV2.png"); */
}

/* .mask {
  mask-image: linear-gradient(to right, transparent 25%, black 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 25%, black 100%);
  z-index: 2;
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
  animation-name: giniFade;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  safari animation
  -webkit-animation-name: giniFade;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
} */

/* #formLogo::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1));
	opacity: .6; 
} */

#formSmokeHolder{
  width: 100%;
  overflow:hidden;
  display:block;
  height: 98%;
  z-index: -1;
}

#formSmokeDiv{
  margin-top: -5%;
  margin-bottom: -5%;
  z-index: -1;
}

#formSmoke{
  margin-top: -3%;
  /* background-color: red;
  mix-blend-mode: color; */
}

#formMessage {
  height: 9rem;
}

/* #formSmoke::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, red, purple);
  mix-blend-mode: color;
  pointer-events: none;
} */

#question {
  height: 150px;
}

#formText {
  color: white;
  margin-top: 0px;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: lighter;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 1rem;
}

.success {
  color: green;
  font-weight: bold;
  margin-left: 3rem;
}


/* ------------------------------------------------------------------------------------------------------ */

/* -------------------------image Zoom------------------------- */

/* a.lightbox img {
  height: 150px;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;
  } */
  
  /* Styles the lightbox, removes it from sight and adds the fade-in transition */
  
  .lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  z-index: 3;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  }
  
  /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
  
  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  }
  
  /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0px;
  }
  
  .noScroll {
    overflow: hidden;
  }
/* ------------------------------------------------------------------------------------------------------ */

/* -------------------------animation delays for SPIRIT IN A BOTTLE------------------------- */

h1 span:nth-child(1) {
  animation-delay: 5.3s;
}
h1 span:nth-child(2) {
  animation-delay: 5.45s;
}
h1 span:nth-child(3) {
  animation-delay: 5.6s;
}
h1 span:nth-child(4) {
  animation-delay: 5.75s;
}
h1 span:nth-child(5) {
  animation-delay: 5.9s;
}
h1 span:nth-child(6) {
  animation-delay: 6.1s;
}
h1 span:nth-child(8) {
  animation-delay: 6.3s;
}
h1 span:nth-child(9) {
  animation-delay: 6.45s;
}
h1 span:nth-child(11) {
  animation-delay: 6.6s;
}
h1 span:nth-child(13) {
  animation-delay: 6.85s;
}
h1 span:nth-child(14) {
  animation-delay: 7.0s;
}
h1 span:nth-child(15) {
  animation-delay: 7.1s;
}
h1 span:nth-child(16) {
  animation-delay: 7.3s;
}
h1 span:nth-child(17) {
  animation-delay: 7.4s;
}
h1 span:nth-child(18) {
  animation-delay: 7.5s;
}

/* ------------------------------------------------------------------------------------------------------ */

/* -------------------------loader------------------------- */

.no-js #loader {
  display: none; 
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0%;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
  background: url(../Assets/Loader-V2.gif) center no-repeat #191919;
  -webkit-background: url(../Assets/Loader-V2.gif) center no-repeat #191919;
}

/* ------------------------------------------------------------------------------------------------------ */
/* -------------------------keyframes------------------------- */
@keyframes tonicAnim {
  0% {opacity: 0;
    height: 490px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
  }
  50% {opacity: 1;}
  100% {height: 590px;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
  /* safari animation */
@-webkit-keyframes tonicAnim {
  0% {opacity: 0;
    height: 490px;
    -webkit-transform: translate(-50%, -50%);
  }
  50% {opacity: 1;}
  100% {height: 590px;
    -webkit-transform:
    translate(-50%, -50%);
  }
}

@keyframes ginPrmAnim {
  0% {opacity: 0; margin-left: -110px;}
  50% {opacity: 1;}
  100% {margin-left: -70px;}
}

@keyframes ginStdAnim {
  0% {opacity: 0; margin-left: 110px;}
  50% {opacity: 1;}
  100% {margin-left: 70px;}
}

@keyframes brinBotAnim {
  0% {opacity: 0; margin-top: 250px;}
  50% {opacity: 1;}
  100% {margin-top: 200px;}
}

@keyframes brinTopAnim {
  0% {opacity: 0; margin-top: 90px;}
  50% {opacity: 1;}
  100% {margin-top: 40px;}
}

@keyframes animate {
  0% {opacity: 0; transform: rotateY(90deg);}
  100% {opacity: 1; transform: rotateY(0deg);}
}
@-webkit-keyframes animate {
  0% {opacity: 0; -webkit-transform: rotateY(90deg);}
  100% {opacity: 1; -webkit-transform: rotateY(0deg);}
}
@-moz-keyframes animate {
  0% {opacity: 0; -moz-transform: rotateY(90deg);}
  100% {opacity: 1; -moz-transform: rotateY(0deg);}
}
@-ms-keyframes animate {
  0% {opacity: 0; -ms-transform: rotateY(90deg);}
  100% {opacity: 1; -ms-transform: rotateY(0deg);}
}

@keyframes endVid {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes startVid {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes logoAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes giniFade {
  from { mask-position: 10px 0, center; }
  to { mask-position: 130px 0, center;}
}
@-webkit-keyframes giniFade {
  from { -webkit-mask-position: 10px 0, center; }
  to { -webkit-mask-position: 130px 0, center;}
}

@keyframes bee11Anim{
  0% {
    margin-left: -220px;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    margin-left: 120px;
  }
}

@keyframes bee12Anim{
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: -240px;
  }
}

@keyframes bee21Anim{
  0% {
    margin-left: 220px;
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100% {
    margin-left: -150px;
  }
}

@keyframes bee22Anim{
  0% {
    margin-top: 300px;
  }
  100% {
    margin-top: 200px;
  }
}

@keyframes beeFlyAnimX{
  0% {
    margin-left: 0px;
    z-index: -8;
    transform: rotate(100deg);
  }
  15% {
    z-index: -8;
    transform: rotate(100deg);
  }
  25%{
    margin-left: 230px;
    z-index: 6;
  }
  40% {
    transform: rotate(290deg);
  }
  /* 50%{
    margin-left: 0px;
  } */
  65% {
    transform: rotate(290deg);
  }
  75%{
    margin-left: -250px;
    z-index: 6;
  }
  76% {
    z-index: -8;
  }
  85% {
    transform: rotate(450deg);
  }
  100% {
    margin-left: 0px;
    z-index: -8;
  }
}

@keyframes beeFlyAnimY{
  0% {
    margin-top: -150px;
    z-index: -8;
  }
  1% {
    opacity: 1;
  }
  15% {
    margin-top: -120px;
  }
  24% {
    z-index: -8;
  }
  25%{
    margin-top: -100px;
    z-index: 6;
  }
  30% {
    margin-top: -90px;
  }
  40% {
    margin-top: -130px;
  }
  55% {
    margin-top: -150px;
  }
  /* 50%{
    margin-top: -150px;
  } */
  75%{
    margin-top: -200px;
    z-index: 6;
  }
  76% {
    z-index: -8;
  }
  100% {
    margin-top: -150px;
    z-index: -8;
    opacity: 1;
  }
}

/* ------------------------------------------------------------ */

@media (min-width: 360px){

  #info1, #info2, #info3 {
    height: 200px;
  }

  #info2 {
    height: 220px;
    /* margin-top: -20px; */
  }
  
  #info3 {
    height: 180px;
    /* margin-top: 20px; */
  }

  #formText {
    margin-top: 50px;
    font-size: 1.5rem;
  }
}

@media (min-width: 375px){

  #anim {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #formLogo {
    height: 60px;
    margin-bottom: -50px;
  }
}

@media (min-width: 400px){

  #anim {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
  }

}

@media (min-width: 570px){

  /* #formLogoHolder{
    height: 80px;
  } */
  #formLogo {
    max-width: 100%;
    height: 70px;
  }
}

@media (min-width: 768px){

  #anim {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -moz-transform: scale(0.65);
  }

  #animCol {
    margin-top: -100px;
  }

  #smokeCol {
    margin-top: -220px;
  }

  #info1, #info2, #info3 {
    height: 370px;
  }

  #info2 {
    height: 400px;
    /* margin-top: -30px; */
  }
  
  #info3 {
    height: 330px;
    /* margin-top: 40px; */
  }

  h1 span {
    font-size: 4rem;
  }

  .infoText {
    font-size: 1rem;
  }

  #csText {
    font-size: 3rem;
  }

  #buttonImage, #buttonImage2, #buttonImage3{
    height: 50px;
  }

  #buttonDown2, #buttonDown3 {
    bottom: -8%;
  }

  #MLogo {
    margin-top: 20px;
  }

  /* #formLogoHolder{
    height: 100px;
  } */

  #formLogo {
    max-width: 100%;
    height: 70px;
  }

  #formGin{
    max-width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  #obrazec {
    margin-bottom: 0;
  }

  #footer {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
}

@media (min-width: 768px) and (max-height: 768px){
  #anim {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
}

@media (min-width: 992px) {

  #giniLogo {
    margin-top: auto;
    margin-bottom: 0;
  }

  #formGin{
    max-width: 100%;
    height: 500px;
    margin-top: 0;
    margin-bottom: 0;
  }

  #anim {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
  }

  #animCol {
    margin-top: -50px;
  }

  #smokeCol {
    margin-top: -270px;
  }

  #info1, #info2, #info3 {
    height: 320px;
  }

  #info2 {
    height: 350px;
    /* margin-top: -30px; */
  }
  
  #info3 {
    height: 290px;
    /* margin-top: 30px; */
  }

  #comingSoon {
    height: 200px;
  }

  #csText {
    margin-top: 50px;
    font-size: 3.5rem;
  }

  #formText {
    font-size: 2.5rem;
  }

  /* #formLogoHolder{
    height: 120px;
  } */

  #formLogo {
    max-width: 100%;
    height: 90px;
  }

}

@media (min-width: 992px) and (max-height: 768px){
  #anim {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #logoCol {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #smokeCol {
    margin-top: -200px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #buttonDown2, #buttonDown3 {
    bottom: -8%;
    opacity: 0;
  }

  #buttonImage2, #buttonImage3 {
    bottom: -8%;
    opacity: 0;
  }


}

@media (min-width: 1000px){

  h1 span {
    font-size: 4rem;
  }

  #buttonImage{
    height: 50px;
  }

  #smokeCol {
    margin-top: -320px;
  }

  #formGin{
    max-width: 100%;
    height: 500px;
  }

  #formSmokeDiv{
    height:100px;
  }

  #formLogoHolder{
    height: 150px;
  }

  #formLogo {
    max-width: 100%;
    height: 100px;
  }
}

@media (min-width: 1100px) and (max-height: 768px){
  #anim {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #logoCol {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }

  #smokeCol {
    margin-top: -250px;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
  }
}

@media (min-width: 1200px) {
  #anim {
    transform: scale(0.9);
    margin-left: 50px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0.9);
  }

  #bzzz{
    height: 300px;
  }

  #beeLogo {
    position: relative;
    margin-top: 0;
    height: 100%;
    opacity: 0;
    /* animation */
    animation-name: logoAnim;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    /* safari animations */
    -webkit-animation-name: logoAnim;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: forwards;
    /* moz animations */
    -moz-animation-name: logoAnim;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 2.5s;
    -moz-animation-fill-mode: forwards;
    /* ms animations */
    -ms-animation-name: logoAnim;
    -ms-animation-duration: 1.5s;
    -ms-animation-timing-function: linear;
    -ms-animation-delay: 2.5s;
    -ms-animation-fill-mode: forwards;
    /* o animations */
    -o-animation-name: logoAnim;
    -o-animation-duration: 1.5s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 2.5s;
    -o-animation-fill-mode: forwards;
  }

  #animCol {
    margin-top: -50px;
  }

  #smokeCol {
    margin-top: -280px;
  }

  h1 span {
    font-size: 5rem;
  }

  #info {
    margin-top: 130px;
  }

  #info1, #info2, #info3 {
    height: 230px;
  }

  #info2 {
    height: 250px;
    margin-top: -20px;
  }
  
  #info3 {
    height: 210px;
    margin-top: 20px;
  }

  #footerPad {
    height: 0;
  }

  #footer {
    height: 330px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  
  #MLogo {
    max-width: 100%;
    height: 150px;
    /* -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); */
  }

  #GLogo {
    margin-top: 50px;
    max-width: 100%;
    height: 80px;
  }

}

@media (min-width: 1200px) and (max-height: 768px){
  #anim {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
  }

  #bzzz{
    height: 200px;
  }

  #logoCol {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }

  #smokeCol {
    margin-top: -250px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@media (min-width: 1200px) and (max-height: 650px){
  #anim {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
  }

  #bzzz{
    height: 200px;
  }

  #logoCol {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }

  #smokeCol {
    margin-top: -250px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }
}


@media (min-width: 1400px) {
  #anim {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -moz-transform: scale(0-9);
  }

  #animCol {
    margin-top: -50px;
  }

  #smokeCol {
    margin-top: -320px;
  }

  #bzzz{
    height: 300px;
  }

  h1 span {
    font-size: 6rem;
  }

  #info {
    margin-top: 130px;
  }

  #info1, #info2, #info3 {
    height: 320px;
  }

  #info2 {
    height: 350px;
    margin-top: -30px;
  }
  
  #info3 {
    height: 290px;
    margin-top: 30px;
  }
  
  #MLogo {
    margin-top: 30px;
    /* -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5); */
  }

}

@media (min-width: 1400px) and (max-height: 568px){
  #anim {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -moz-transform: scale(0.6);
  }

  #bzzz{
    height: 200px;
  }

  #logoCol {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }

  #smokeCol {
    margin-top: -250px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@media (min-width: 1400px) and (max-height: 800px){
  #anim {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }

  #bzzz{
    height: 200px;
  }

  #smokeCol {
    margin-top: -250px;
  }
}

@media (min-width: 1600px) {
  #smokeCol {
    margin-top: -360px;
  }

}

@media (min-width: 1600px) and (max-height: 830px){
  #anim {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }

  #bzzz{
    height: 200px;
  }

  #smokeCol {
    margin-top: -350px;
  }
}

@media (min-width: 1600px) and (max-height: 630px){
  #anim {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }

  #bzzz {
    height: 200px;
  }

  #smokeCol {
    margin-top: -250px;
  }
}

@media (max-width: 500px) and (min-height: 700px){

  #beeLogo {
    margin-top: 28rem;
  }
}

@media (max-width: 500px) and (min-height: 800px){

  #beeLogo {
    margin-top: 30rem;
  }
}

