@font-face {
  font-family: 'GiniFont';
  src: url('../Assets/optiagency-gothic-webfont.woff2') format('woff2'),
       url('../Assets/optiagency-gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

html,body{
  height:100%;
  overflow: hidden;
  background-color: #191919;
  /* max-width: 100%;
  overflow-x: hidden; */
}

#siteform {
  height: 100%;
}

object {
  width: 100%;
  min-height: 100%;
}

.askText1, .askText2{
  color: white;
  font-size: 1.5rem;
}

.askText2{
  font-weight: bold;
  font-size: 2rem;
}

.input-group {
  width: 10rem;
}

hr {
  border-top: 1px solid 	#AD2544;
}

.opozorilo {
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.error{
  color: red;
  font-weight: bold;
  font-size: 2rem;
}




